body
{
    color:#ededed;
    background-color:#1c1c1c;
    font-family: sans-serif;
}

table, th, td { border: 0.125em solid black; border-collapse: collapse; }

th { background-color:#252525; font-size: 1.25em; }

table { background-color:#404040; }

th, td { padding: 0.5em; }

#title_of_page { font-size: 3.125em; }

input.pagejump
{
    padding: 0.625em;
    cursor: pointer;
    font-weight: bold;
    background: #505050;
    color:#ededed;
    border: 0.125em solid black;
    border-collapse: collapse;
    font-size: 100%;
}

input.pagejump:hover
{
    color: #f0f0f0;
    background: #303030;
    border: 0.125em solid black;
    border-collapse: collapse;
}

input.backtotop
{
    padding: 0.4375em;
    cursor: pointer;
    background: #505050;
    color:#ededed;
    border: 0.125em solid black;
    border-collapse: collapse;
    font-size: 80%;
}

input.backtotop:hover
{
    color: #f0f0f0;
    background: #303030;
    border: 0.125em solid black;
    border-collapse: collapse;
}

.add { background-color: #12e22d; }

.gone { background-color: #e21212; }